In [12]:
import pandas as pd

In [13]:
df = pd.read_csv(r"C:/Users/akhil/Desktop/DataScience/Health Insurance Lead Prediction Raw Data.csv")
print(df.isnull().sum())

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Upper_Age                      0
Lower_Age                      0
Is_Spouse                      0
Health Indicator           11691
Holding_Policy_Duration    20251
Holding_Policy_Type        20251
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [14]:
df

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Is_Spouse,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,",,Rented",Individual,36,36,No,X1,14+,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,No,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,//Owned,Individual,32,32,No,NaN,1,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,No,X1,14+,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,No,X2,3,1.0,16,10404.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50877,50878,C4,845,Rented,Individual,22,22,No,X3,NaN,NaN,18,7704.0,0
50878,50879,C5,4188,Rented,Individual,27,27,No,X3,7,3.0,4,5408.0,0
50879,50880,C1,442,Rented,Individual,63,63,No,X2,14+,1.0,12,11374.0,0
50880,50881,C1,4,Owned,Joint,71,49,No,X2,2,2.0,16,28179.2,1
50881,50882,C3,3866,Rented,Individual,24,24,No,X3,2,3.0,18,11424.0,0

In [15]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50882 entries, 0 to 50881
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       50882 non-null  int64
 1   City_Code                50882 non-null  object
 2   Region_Code              50882 non-null  int64
 3   Accomodation_Type        50882 non-null  object
 4   Reco_Insurance_Type      50882 non-null  object
 5   Upper_Age                50882 non-null  int64
 6   Lower_Age                50882 non-null  int64
 7   Is_Spouse                50882 non-null  object
 8   Health Indicator         39191 non-null  object
 9   Holding_Policy_Duration  30631 non-null  object
 10  Holding_Policy_Type      30631 non-null  float64
 11  Reco_Policy_Cat          50882 non-null  int64
 12  Reco_Policy_Premium      50882 non-null  float64
 13  Response                 50882 non-null  int64
dtypes: float64(2), int64(6), object(6)
memory usage: 5.4+ MB
None

In [16]:
print(df.isnull().sum())

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Upper_Age                      0
Lower_Age                      0
Is_Spouse                      0
Health Indicator           11691
Holding_Policy_Duration    20251
Holding_Policy_Type        20251
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [17]:
print(df.head())

   ID City_Code  Region_Code Accomodation_Type Reco_Insurance_Type  Upper_Age  \
0   1        C3         3213          ,,Rented          Individual         36
1   2        C5         1117             Owned               Joint         75
2   3        C5         3732           //Owned          Individual         32
3   4       C24         4378             Owned               Joint         52
4   5        C8         2190            Rented          Individual         44

   Lower_Age Is_Spouse Health Indicator Holding_Policy_Duration  \
0         36        No               X1                     14+
1         22        No               X2                     NaN
2         32        No              NaN                       1
3         48        No               X1                     14+
4         44        No               X2                       3

   Holding_Policy_Type  Reco_Policy_Cat  Reco_Policy_Premium  Response
0                  3.0               22              11628.0         0
1                  NaN               22              30510.0         0
2                  1.0               19               7450.0         1
3                  3.0               19              17780.0         0
4                  1.0               16              10404.0         0

In [18]:
df = df.drop_duplicates()
print(df)

          ID City_Code  Region_Code Accomodation_Type Reco_Insurance_Type  \
0          1        C3         3213          ,,Rented          Individual
1          2        C5         1117             Owned               Joint
2          3        C5         3732           //Owned          Individual
3          4       C24         4378             Owned               Joint
4          5        C8         2190            Rented          Individual
...      ...       ...          ...               ...                 ...
50877  50878        C4          845            Rented          Individual
50878  50879        C5         4188            Rented          Individual
50879  50880        C1          442            Rented          Individual
50880  50881        C1            4             Owned               Joint
50881  50882        C3         3866            Rented          Individual

       Upper_Age  Lower_Age Is_Spouse Health Indicator  \
0             36         36        No               X1
1             75         22        No               X2
2             32         32        No              NaN
3             52         48        No               X1
4             44         44        No               X2
...          ...        ...       ...              ...
50877         22         22        No               X3
50878         27         27        No               X3
50879         63         63        No               X2
50880         71         49        No               X2
50881         24         24        No               X3

      Holding_Policy_Duration  Holding_Policy_Type  Reco_Policy_Cat  \
0                         14+                  3.0               22
1                         NaN                  NaN               22
2                           1                  1.0               19
3                         14+                  3.0               19
4                           3                  1.0               16
...                       ...                  ...              ...
50877                     NaN                  NaN               18
50878                       7                  3.0                4
50879                     14+                  1.0               12
50880                       2                  2.0               16
50881                       2                  3.0               18

       Reco_Policy_Premium  Response
0                  11628.0         0
1                  30510.0         0
2                   7450.0         1
3                  17780.0         0
4                  10404.0         0
...                    ...       ...
50877               7704.0         0
50878               5408.0         0
50879              11374.0         0
50880              28179.2         1
50881              11424.0         0

[50882 rows x 14 columns]

In [19]:
df = df.drop(columns = "Is_Spouse")

In [20]:
# df["Accomodation_Type"] = df["Accomodation_Type"].str.strip(",,")
# df["Accomodation_Type"] = df["Accomodation_Type"].str.strip("//")

df["Accomodation_Type"] = df["Accomodation_Type"].str.strip(",/")
df["Holding_Policy_Duration"] = df["Holding_Policy_Duration"].str.strip("+")
df

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,X1,14,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,X2,NaN,NaN,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,NaN,1,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,X1,14,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,X2,3,1.0,16,10404.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50877,50878,C4,845,Rented,Individual,22,22,X3,NaN,NaN,18,7704.0,0
50878,50879,C5,4188,Rented,Individual,27,27,X3,7,3.0,4,5408.0,0
50879,50880,C1,442,Rented,Individual,63,63,X2,14,1.0,12,11374.0,0
50880,50881,C1,4,Owned,Joint,71,49,X2,2,2.0,16,28179.2,1
50881,50882,C3,3866,Rented,Individual,24,24,X3,2,3.0,18,11424.0,0

In [21]:
print(df.isnull().sum())

ID                             0
City_Code                      0
Region_Code                    0
Accomodation_Type              0
Reco_Insurance_Type            0
Upper_Age                      0
Lower_Age                      0
Health Indicator           11691
Holding_Policy_Duration    20251
Holding_Policy_Type        20251
Reco_Policy_Cat                0
Reco_Policy_Premium            0
Response                       0
dtype: int64

In [47]:
import random
df['Health Indicator'] = pd.to_numeric(df['Health Indicator'], errors = 'coerce')
default_value = (['X1','X2','X3','X4','X5','X6'])
df['Health Indicator'] = df['Health Indicator'].apply(lambda x:random.choice(default_value) if pd.isna(x) else x)


df['Holding_Policy_Duration'] = pd.to_numeric(df['Holding_Policy_Duration'], errors = 'coerce')
default_value = df['Holding_Policy_Duration'].median()
df['Holding_Policy_Duration'].fillna(default_value, inplace = True)

df['Holding_Policy_Type'] = pd.to_numeric(df['Holding_Policy_Type'], errors = 'coerce')
default_value = random.randint(1,3)
df['Holding_Policy_Type'].fillna(default_value, inplace = True)
df

C:\Users\akhil\AppData\Local\Temp\ipykernel_26612\1073399251.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Holding_Policy_Duration'].fillna(default_value, inplace = True)
C:\Users\akhil\AppData\Local\Temp\ipykernel_26612\1073399251.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Holding_Policy_Type'].fillna(default_value, inplace = True)

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,X1,14.0,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,X6,5.0,3.0,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,X6,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,X3,14.0,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,X2,3.0,1.0,16,10404.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50877,50878,C4,845,Rented,Individual,22,22,X2,5.0,3.0,18,7704.0,0
50878,50879,C5,4188,Rented,Individual,27,27,X3,7.0,3.0,4,5408.0,0
50879,50880,C1,442,Rented,Individual,63,63,X5,14.0,1.0,12,11374.0,0
50880,50881,C1,4,Owned,Joint,71,49,X3,2.0,2.0,16,28179.2,1
50881,50882,C3,3866,Rented,Individual,24,24,X1,2.0,3.0,18,11424.0,0

In [43]:
print(df.isnull().sum())

ID                         0
City_Code                  0
Region_Code                0
Accomodation_Type          0
Reco_Insurance_Type        0
Upper_Age                  0
Lower_Age                  0
Health Indicator           0
Holding_Policy_Duration    0
Holding_Policy_Type        0
Reco_Policy_Cat            0
Reco_Policy_Premium        0
Response                   0
dtype: int64

In [48]:
pd

In [49]:
df

,ID,City_Code,Region_Code,Accomodation_Type,Reco_Insurance_Type,Upper_Age,Lower_Age,Health Indicator,Holding_Policy_Duration,Holding_Policy_Type,Reco_Policy_Cat,Reco_Policy_Premium,Response
0,1,C3,3213,Rented,Individual,36,36,X1,14.0,3.0,22,11628.0,0
1,2,C5,1117,Owned,Joint,75,22,X6,5.0,3.0,22,30510.0,0
2,3,C5,3732,Owned,Individual,32,32,X6,1.0,1.0,19,7450.0,1
3,4,C24,4378,Owned,Joint,52,48,X3,14.0,3.0,19,17780.0,0
4,5,C8,2190,Rented,Individual,44,44,X2,3.0,1.0,16,10404.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
50877,50878,C4,845,Rented,Individual,22,22,X2,5.0,3.0,18,7704.0,0
50878,50879,C5,4188,Rented,Individual,27,27,X3,7.0,3.0,4,5408.0,0
50879,50880,C1,442,Rented,Individual,63,63,X5,14.0,1.0,12,11374.0,0
50880,50881,C1,4,Owned,Joint,71,49,X3,2.0,2.0,16,28179.2,1
50881,50882,C3,3866,Rented,Individual,24,24,X1,2.0,3.0,18,11424.0,0